@tailwind base;
@tailwind components;
@tailwind utilities;



.btn-primary-hover {
  @apply bg-primary hover:bg-[#AE0000] rounded-xl font-Manrope text-lg text-center;
}

.btn-more-to-explore {
  @apply text-primary text-lg font-medium font-Manrope rounded-full border border-primary hover:border-white hover:bg-primary hover:text-white;
}

@layer components {
  .card {
    &:hover .icon {
      opacity: 1;
    }
    &::before {
      content: "";
      width: 330px;
      height: 330px;
      background-color:white;
      position: absolute;
      top: -100px;
      right: -130px;
      border-radius: 50%;
      z-index: -1;
      transition: 0.5s;
    }
    &:hover:before {
      content: "";
      width: 464px;
      height: 458px;
      top: -230px;
    }
    & .product {
      transition: 0.5s;
    }
    &:hover .product {
      transform: translateY(-35px);
    }
    & .price {
      transition: 0.5s;
      transform-origin: bottom;
    }
    &:hover .price {
      transform: scale(1.1);
    }
    & button {
      transform-origin: bottom;
    }
    & button:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
  }
}
.card {
  @apply px-3 mt-10 hover:shadow-xl transition-all duration-500 border relative overflow-hidden flex flex-col items-center rounded-[40px] h-[450px] ;
}


